* {
 margin: 0;
 padding: 0;  
}

html {
    overflow: hidden;
}

body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    max-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}

/* Side Navigation */
    .side-nav {
        background: #222;
        position: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 3rem;
    }
    .side-nav span {
        z-index: 2;
        cursor: pointer;
    }
    /* Side Nav Icons */
        .side-nav span {
            transition-duration: 2s;
            transition-delay: 1s;
        }
        .side-nav .about.selected {
            transform: translateX(1.7rem);
        }
        .side-nav .portfolio.selected {
            transform: translateX(1.7rem);
        }
        .side-nav .gallery.selected {
            transform: translateX(1.7rem);
        }

        .side-nav span img {
            width: 3rem;
            filter: invert();
        }

    /* Nav Selector */
        .side-nav .selector {
            transition: 2s;
            transition-timing-function: cubic-bezier(.25, .1.5, .25, 1.5);
        }
        .side-nav .selector.about-selected {
            background-image: url("../img/selector.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-clip: content-box;
            z-index: 1;
            width: 8rem;
            height: 16rem;
            position: absolute;
            transform: translateX(.55rem) translateY(-34vh);

        }
        .side-nav .selector.portfolio-selected {
            background-image: url("../img/selector.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-clip: content-box;
            z-index: 1;
            width: 8rem;
            height: 16rem;
            position: absolute;
            transform: translateX(.55rem) translateY(-.5vh);
        }
        .side-nav .selector.gallery-selected {
            background-image: url("../img/selector.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-clip: content-box;
            z-index: 1;
            width: 8rem;
            height: 16rem;
            position: absolute;
            transform: translateX(.55rem) translateY(33vh);
        }


/* Content */

    /* Section */
        .section {
            scroll-snap-align: start;
            height: 100vh;
            overflow: hidden;
            padding: 4rem 1rem 0 12rem;
            box-sizing: border-box;
        }

        
        /* About Section */
            .sosmed-items {
                display: flex;
                margin-top: 1rem;
                width: 5rem;
                justify-content: space-between;
            }
            .sosmed-items .instagram-icon {
                background-image: url('../img/instagram.png');
                background-size: cover;
                height: 2rem;
                width: 2rem;
                cursor: pointer;
            }
            .sosmed-items a.github-icon {
                background-image: url('../img/github-logo.png');
                background-size: cover;
                height: 2rem;
                width: 2rem;
                cursor: pointer;
            }

            .contact-btn {
                margin-top: 1rem;
                color: #222;
                padding: .5rem;
                width: fit-content;
                border: 3px solid #222;
                border-radius: 8px;
                font-weight: bold;
                cursor: pointer;
                transition: .5s;
            }
            .contact-btn:hover {
                background-color: #222;
                color: #fff;
            }

            /* Overlay Contact */
                .contact-overlay {
                    display: none;
                    background-color: #222;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transition: 1s;
                }
                .contact-overlay.open-contact-overlay {
                    display: block;
                }
                .contact-overlay .contact-overlay-close-btn {
                    background: url('../img/close.png');
                    background-size: cover;
                    filter: invert();
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    top: 4rem;
                    right: 4rem;
                    cursor: pointer;
                }

                .contact-container {
                    margin: auto;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .contact-container label {
                    color: #fff;
                    margin: 1rem 0 .5rem 0;
                }
                .contact-container input, .contact-container textarea {
                    border-radius: 8px;
                    font-size: 1rem;
                    padding: .5rem;
                    background-color: #222;
                    border: 2px solid #fff;
                    color: #fff;
                    outline: none;
                    transition: .5s;
                }
                .contact-container input:focus, .contact-container textarea:focus {
                    background-color: #fff;
                    color: #222;
                }
                .contact-container input[type="button"] {
                    width: 8rem;
                    margin-top: 1.5rem;
                    background-color: #222;
                    color: #fff;
                    border: 2px solid #fff;
                    transition: .5s;
                    cursor: pointer;
                }
                .contact-container input[type="button"]:hover {
                    background-color: #fff;
                    color: #222;
                }
            
            
            /* Portfolio Sec */

                /* Portfolio Recent */
                    .portfolio-recent-container {
                        margin: 1rem 0;
                        display: flex;
                        max-width: 600px;
                        min-width: 400px;
                        width: 100%;
                        justify-content: space-evenly;
                        height: 102px;
                        
                    }

                    .portfolio-recent-card-0, .portfolio-recent-card-1, .portfolio-recent-card-2 {
                        display: flex;
                        max-width: 160px;
                        min-width: 116px;
                        width: calc(22vw - 1rem);
                        height: calc(8vh + 4vw);
                        max-height: 102px;
                        min-height: 84px;
                        position: relative;
                    }
                    .portfolio-recent-card-0:hover .main-card, .portfolio-recent-card-1:hover .main-card, .portfolio-recent-card-2:hover .main-card {
                        transform: translateY(3rem);
                    }
                    .portfolio-recent-card-0:hover .second-card, .portfolio-recent-card-1:hover .second-card, .portfolio-recent-card-2:hover .second-card {
                        top: 0;
                    }
                    .main-card {
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        color: #333;
                        border: 1px solid #333;
                        border-radius: 6px;
                        transition: .5s;
                        cursor: pointer;
                    }
                    .second-card {
                        position: absolute;
                        top: 3rem;
                        width: 100%;
                        height: 100%;
                        background-color: #333;
                        color: #fff;
                        border-radius: 6px;
                        z-index: -1;
                        transition: 1s;
                    }

                    /* Card 0 */
                        .portfolio-recent-card-0 .second-card span:nth-child(1) {
                            display: flex;
                            height: 50%;
                            justify-content: center;
                            align-items: center;
                        }
                        .portfolio-recent-card-0 .second-card span:nth-child(2) {
                            display: flex;
                            height: 50%;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                /* Portfolio Explorer Button */
                    .portfolio-explorer {
                        margin-top: 5rem;
                    }
                    .portfolio-explorer-btn {
                        background-image: url(../img/file-management.png);
                        background-size: cover;
                        display: block;
                        margin: .5rem 1rem 0;
                        height: 4rem;
                        width: 4rem;
                        cursor: pointer;
                    }
                    .portfolio-explorer p {
                        margin-left: 1.2rem;
                    }

                /* Window Portfolio */
                    #portfolio-window {
                        transform: scale(0);
                        transition: transform .5s, height .5s, width .5s;
                    }
                    .portfolio-window {
                        display: flex;
                        flex-direction: column;
                        height: 40vw;
                        min-height: fit-content;
                        max-height: 350px;
                        width: 60%;
                        max-width: 600px;
                        min-width: fit-content;
                        position: absolute;
                        top: 30vh;
                        left: 30vw;
                        border-radius: 8px;
                        overflow: hidden;
                    }

                    .portfolio-window.maximazed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        width: 100vw;
                        max-height: none;
                        max-width: none;
                        transition: transform .5s, height .5s, width .5s;
                    }

                    #portfolio-window-header {
                        width: 100%;
                        height: 14%;
                        background-color: #333;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        cursor: grabbing;
                    }   

                        /* Window Category Section */
                            .window-category-item {
                                overflow-x: scroll;
                                display: flex;
                                flex-direction: column;
                            }
                            .window-category-item h5 a {
                                padding: .3rem 0 .3rem 1rem;
                                display: block;
                                margin-top: .5rem;
                                width: 100%;
                                color: #fff;
                                font-size: calc(.6rem + 1vw);
                                cursor: pointer;
                                text-decoration: none;
                            }
                            .window-category-item h5 a:hover {
                                background-color: #555;
                            }
                            .window-category-item .list-category-main {
                                display: flex;
                                padding: 1rem;
                                padding-bottom: 0;
                            }
                            .window-category-item span {
                                margin: -.3rem .5rem 0 -.5rem;
                                transform: rotate(90deg);
                                transform-origin: center;
                                color: #aaa;
                                float: left;
                                font-size: calc(.6rem + 1vw);
                                cursor: pointer;
                            }
                            .window-category-item h6 {
                                margin: 0 .3rem .3rem;
                                width: 100%;
                                color: #fff;
                                font-size: calc(.6rem + 1vw);
                                float: right;
                                cursor: pointer;
                            }
                            .window-category-item .list-category-item {
                                transform: scale(1);
                            }
                            .window-category-item .list-category-item p a {
                                text-decoration: none;
                                padding: .1rem 0 .1rem 2.5rem;
                                margin: .2rem 0;
                                color: #fff;
                                width: 100%;
                                font-size: calc(.5rem + 1vw);
                                cursor: pointer;
                                display: block;
                            }

                            .window-category-item .list-category-item p:nth-child(1):hover {
                                background-color: #555;
                                width: 100%;
                            }
                            .window-category-item .list-category-item p:nth-child(2):hover {
                                background-color: #555;
                                width: 100%;
                            }
                            .window-category-item .list-category-item p:nth-child(3):hover {
                                background-color: #555;
                                width: 100%;
                            }

                            .window-category-item .list-category-item p:nth-child(1):target {
                                background-color: #666;
                                width: 100%;
                            }
                            .window-category-item .list-category-item p:nth-child(2):target {
                                background-color: #666;
                                width: 100%;
                            }
                            .window-category-item .list-category-item p:nth-child(3):target {
                                background-color: #666;
                                width: 100%;
                            }

                        /* Window Item Section */
                            .window-item {
                                display: flex;

                            }
                            .window-item .portfolio-item-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                padding: .5rem;
                                height:  calc(6rem + 1vw);
                                width: calc(6rem + 1vw);
                            }
                            .window-item .portfolio-item-container .portfolio-thumbnail {
                                max-width: 90px;
                                width: 100%;
                                height: 100%;
                                background-color: #fff;
                            }
                            .window-item .portfolio-item-container .portfolio-name {
                                margin-top: .3rem;
                                text-align: center;
                                color: #fff;
                                font-size: calc(.4rem + 1vw);
                            }


                        /* Window Buttons */
                            #portfolio-window-header span {
                                height: 1rem;
                                width: 1rem;
                                background-color: #555;
                                margin-right: 1rem;
                                border-radius: 50%;
                                cursor: pointer;
                            }

                            #portfolio-window-header span:nth-child(1):hover {
                                background-color: #fff666;
                            }
                            #portfolio-window-header span:nth-child(2):hover {
                                background-color: #00cc99;
                            }
                            #portfolio-window-header span:nth-child(3):hover {
                                background-color: #ff6666;
                            }
                            


                            .window-item-container {
                                width: 100%;
                                height: 86%;
                                display: flex;
                                flex-direction: row;
                            }
                            .window-category-item {
                                width: 30%;
                                background-color: #444;
                                overflow-y: scroll;
                            }
                            .window-item {
                                width: 70%;
                                background-color: #666;
                            }
                    
