* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    --mainColor: #fff;
    --secondColor: #222;
    --mainColorDarker: #000;
    --mainColorLighter: #333;
    --secondColorLighter: #fff;
    font-family: 'Montserrat', sans-serif;;
    background-color: var(--mainColor);
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    position: relative;
}
::-webkit-scrollbar {
    display: none;
}

/* Opening Begin */
    .opening {
        background-color: var(--secondColor);
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: opening-disappear 1s ease forwards;
        animation-delay: 6s;
        z-index: 999;
        pointer-events: none;
    }
    @keyframes opening-disappear {
        100% {
            opacity: 0;
        }
    }
    .opening ul {
        list-style: none;
        position: relative;
        top: 1.1em;
        animation: slideUp 6s steps(3) forwards;
    }
    .opening ul li {
        color: var(--mainColor);
        font-size: 3em;
        text-align: center;
        position: relative;
    }
    @keyframes slideUp {
        100% {
            top: -9.5em;
        }
    }

    .opening ul li:nth-child(1)::after {
        content: '';
        background-color: #222;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        animation: appear1 2s ease;
    }
    @keyframes appear1 {
        50% {
            background: none;
        }
        100% {
            background: #222;
        }
    }
    .opening ul li:nth-child(2)::after {
        content: '';
        background-color: #222;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        animation: appear2 2s ease;
        animation-delay: 2s;
    }
    @keyframes appear2 {
        50% {
            background: none;
        }
        100% {
            background: #222;
        }
    }
    .opening ul li:nth-child(3)::after {
        content: '';
        background-color: #222;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        animation: appear3 2s ease;
        animation-delay: 4s;
    }
    @keyframes appear3 {
        50% {
            background: none;
        }
        100% {
            background: #222;
        }
    }
/* Opening End */

/* Nav Begin */
nav .scroll-line {
    background-color: #222;
    height: 0%;
    width: 1em;
    position: fixed;
    right: 0;
    overflow: visible;
    transition: .5s;
    z-index: 1;
}
nav .scroll-icon {
    background-color: #222;
    width: 4em;
    height: 4em;
    padding: 1em;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
    border-radius: 46% 44% 15% 63% / 38% 30% 7% 56%;
}
nav .scroll-icon:hover, nav .nav-selected {
    border-radius: 63% 15% 44% 46% / 56% 7% 30% 38%;
}
nav .scroll-icon.bio {
    position: fixed;
    top: -6px;
    background-image: url(../img/avatarw.png);
    background-size: 1.6em;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1.3em;
}
nav .scroll-icon.pf-web {
    position: fixed;
    top: 83.5%;
    background-image: url(../img/web-programmingw.png);
    background-size: 1.6em;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1.3em;
}
nav .scroll-icon.pf-3d {
    position: fixed;
    top: 92%;
    background-image: url(../img/blockw.png);
    background-size: 1.8em;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 1.3em;
}
nav .scroll-icon.bio.nav-selected, nav .scroll-icon.bio:hover {
    background-image: url(../img/avatar-solidw.png);
}
nav .scroll-icon.scroll-icon.pf-web.nav-selected, nav .scroll-icon.pf-web:hover {
    background-image: url(../img/web-programming-solidw.png);
}
nav .scroll-icon.scroll-icon.pf-3d.nav-selected, nav .scroll-icon.pf-3d:hover {
    background-image: url(../img/block-solidw.png);
}


/* Nav End */

/* Section Begin */
    section {
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-align: start;
        position: relative;
    }
    .box {
        background-color: aqua;
        height: 200vh;
        width: 10em;
    }
    .sec-title {
        background-color: #222;
        color: #fff;
        width: 8em;
        text-align: center;
        position: fixed;
        margin-right: 3em;
        padding: .5em 2em 1em 2em ;
        right: 1em;
        border-radius: 0 0 4em 7em / 0 0 4em 5em;
        cursor: pointer;
        transition: .5s;
        z-index: 9;
    }
    section .sec-title:hover {
        border-radius: 0 0 7em 5em / 0 0 4em 5em;
    }

    /* Bio Section Begin */
        section#bio {
            position: relative;
        }
    /* Bio Section End */

    /* Pf-Web Section Begin */
        section#pf-web {
            position: relative;
        }
    /* Pf-Web Section End */

    /* Pf-3d Section Begin */
        section#pf-3d {
            position: relative;
        }
    /* Pf-3d Section End */
/* Section End */